Django
gunicorn
psycopg2-binary
python-decouple
dj-database-url
whitenoise
djangorestframework
corsheaders
Pillow
cloudinary
cloudinary-storage
boto3
django-storages
django-cors-headers
djangorestframework-simplejwt
drf-yasg
requests
pytest
pytest-django
pytest-cov
pytest-mock
pytest-factory
